* {
  margin: 0;
}

.app {
  width: 100%;
}

.app__dropdown {
  margin-left: 40%;
  display: flex;
}

.options {
  background: whitesmoke;
}

.app__header {
  display: flex;
  align-items: center;
  background-color: black;
}
.removedeco {
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
}
.graph {
  text-decoration: none;
  color: aliceblue;
  margin-left: 700px;
}
.link {
  text-decoration: none;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.ant {
  height: 50px;
}

/* .nabar {
  text-decoration: none;
  display: flex;
  background-color: blue;
} */
