.container {
   margin: 20px 32px;
   width: 1200px;
}

.card {
  margin: 0 5px !important;
  height: 175px;
  width: 1000px;
}

.infected {
  border-bottom: 10px solid orange;
}

.recovered {
  border-bottom: 10px solid rgba(115, 226, 95, 0.835);
}

.deaths {
  border-bottom: 10px solid red;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
